*{
    margin: 0;
    padding: 5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.header{
    width: 100%; 
    height: 100vh;
    background:0;
    padding-left: 11%;
    padding-right: 8%;
    padding-bottom: 2%;
    position: relative;
    background-image: url(/Images/image-2.png); 
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 60% 40%;
}

.top-nav{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 15px;
    border-bottom: 1px solid #bababa;
} 

.top-nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.top-nav button{
    background: #e91e63;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
}

.text-box{
    margin: 30px;
    font-size: 20px;
    color:#fff;
    margin-top: 10%;
    margin-bottom: 30px;
    
    
        }
    
        .text-box h1{
    font-weight: 500;
    font-size: 86px;
    max-width: 550px;
    line-height: 110px;
    margin-top: 10px;
    margin-bottom: 30px;
        }


    .side-nav{
        position: fixed; 
        background: #e91e63;
        left: 0;
        top: 0;
        width: 10%;
        height: 100vh;;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
        background: linear-gradient(#00bcd4, #e91e63, #3f51b5, #00bcd4);
        background-size: 100% 500%;
        background-position: 0 40%;
    }
    
   
    

    
    


  

